<%= form_for [@expected_event, @alarm] do |f| %>
<% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label "Action" " (* required)" %><br>
    <%= f.select :action, [['Logger', 'Logger'], ['Email', 'Email']] %>  
  </p>

  <p>
    <%= f.label "If you want to get an email, please enter your address!" " (* required)"%><br>
      <% if @alarm.recipient_email %>
        <%= f.text_field :recipient_email %>
      <% else %>
        <%= f.text_field :recipient_email, :value => current_user.email %>
      <% end %>
  </p>

  <p>
    <%= f.label "Add some custom text!" %><br>
    <%= f.text_area :message %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
