<%= form_for [@expected_event, @alarm] do |f| %>
<% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>


  
  <p>
    <%= f.label :nature %><br>
    <%= f.text_field :nature %>
  </p>

  <p>
    <%= f.label :action %><br>
    <%= f.select :action, [['SMS', 'SMS'], ['Email', 'Email'], ['Carrier Pidgeon', 'Carrier Pidgeon'], ['Message in a Bottle', 'Message in a Bottle']] %>  
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
