<%= form_for([@expected_event, @alarm], :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, "Title/Subject:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Action" " (* required):", :class => "control-label" %>
    <div class="controls">
      <%= f.select :action, [['Logger', 'Logger'], ['Email', 'Email']] %>
    </div>
  </div>

  <div class="control-group for-email" style="<%= 'display:none' unless @alarm.enters_email? %>">
    <%= f.label "Is this the right email address?:", :class => "control-label" %>
    <div class="controls">
      <% if @alarm.recipient_email %>
        <%= f.text_field :recipient_email %>
      <% else %>
        <%= f.text_field :recipient_email, :value => current_user.email %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Add some custom text!:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :message, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-custom-success" %>
<% end %>
