<%= form_for([@expected_event, @alarm], :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
<% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, "Title:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label "Action" " (* required):", :class => "control-label" %>
    <div class="controls">
      <%= f.select :action, [['Logger', 'Logger'], ['Email', 'Email']] %>  
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Is this the right email address?:", :class => "control-label" %>
    <div class="controls">
      <% if @alarm.recipient_email %>
        <%= f.text_field :recipient_email %>
      <% else %>
        <%= f.text_field :recipient_email, :value => current_user.email %>
      <% end %>
    </div>
  </div>

      <!-- Tam trying to fix issue #8 -->
      <%# if @alarm.enters_email? && @alarm.recipient_email %>
        <%#= f.label "Is this the right email address?" " (* required)"%><br>
        <%#= f.text_field :recipient_email, :value => current_user.email %>
      <%# else %>
      <%# if @alarm.enters_logger? %>
        <%#= f.label "Please leave this box blank!" %><br>
        <%#= f.text_field %>
      <%# end %>
      <%# end %>


  <div class="control-group">
    <%= f.label "Add some custom text!:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :message, class: "input-xxlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
