%h1
  Alarms
  %i.icon-bell-alt.icon-large

%table.table.table-striped{"data-provides" => "rowlink"}
  %thead
    %tr
      %th= sortable "alarms.title", "Title/Subject"
      %th Action
      %th
      %th
      %th
      %th

  %tbody
    - alarms.each do |alarm|
      %tr.warning
        %td.title= link_to alarm.title, alarm
        %td.action= alarm.action
        %td.nolink.glyph= link_to icon_pencil, [:edit, alarm]
        %td.nolink.glyph= link_to icon_trash, alarm, method: :delete, data: { confirm: 'Are you sure?' }
        %td.nolink.glyph= link_to 'Test', [:run, alarm], class: 'btn btn-mini btn-custom-show'
%br

= will_paginate alarms

= link_to 'New Alarm', new_alarm_path, class: 'btn btn-custom-success'
= link_to 'Back to Expected Events', expected_events_path , class: 'btn btn-custom-back'
