<h1>Alarms <i class="icon-bell-alt icon-large"></i></h1>

<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Expected Event</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Test</th>
    </tr>
  </thead>

  <tbody>
    <% @alarms.each do |alarm| %>
      <tr class="warning">
        <td><%= alarm.title %></td>
        <td>
          <%= alarm.expected_event.title if alarm.expected_event %></td>
        </td>
        <td><%= alarm.action %></td>

        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, [@expected_event, alarm] %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_expected_event_alarm_path(@expected_event, alarm) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, [@expected_event, alarm], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Test', run_expected_event_alarm_path(@expected_event, alarm), class: 'btn btn-info' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_expected_event_alarm_path(@expected_event) , class: 'btn btn-warning' %>
<%= link_to 'Back to Expected Events', expected_events_path , class: 'btn btn-success' %>

<div class="pagination pagination-centered"> 
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
  </ul>
</div>
</div>