%h1
  Alarms
  %i.icon-bell-alt.icon-large

.container
  - flash.each do |name, msg|
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} x
      = msg

%table.table.table-striped
  %thead
    %tr
      %th= sortable "title"
      %th Expected Event
      %th Action
      %th
      %th
      %th
      %th

  %tbody
    - @alarms.each do |alarm|
      %tr.warning
        %td= link_to alarm.title, [@expected_event, alarm]
        %td= alarm.expected_event.title if alarm.expected_event
        %td= alarm.action
        %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_expected_event_alarm_path(@expected_event, alarm)
        %td= link_to '<i class="icon-trash"></i>'.html_safe, [@expected_event, alarm], method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Test', run_expected_event_alarm_path(@expected_event, alarm), class: 'btn btn-mini btn-custom-show'

%br

= link_to 'New Alarm', new_expected_event_alarm_path(@expected_event) , class: 'btn btn-custom-success'
= link_to 'Back to Expected Events', expected_events_path , class: 'btn btn-custom-back'

.pagination.pagination-centered
  %ul
    %li.disabled
      %a{:href => "#"} «
    %li.active
      %a{:href => "#"} 1