<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @alarm.title %>
</p>

<b>Expected Event:</b>
  <%= @alarm.expected_event.title if @alarm.expected_event %>
</p>

<p>
  <b>Nature:</b>
  <%= @alarm.nature %>
</p>

<p>
  <b>Action:</b>
  <%= @alarm.action %>
</p>


<%= link_to 'Edit', edit_expected_event_alarm_path(@expected_event, @alarm), class: 'btn btn-warning'%>
<%= link_to 'Back', expected_event_alarms_path, class: 'btn btn-primary' %>


