<div class="row">
  <div class="span1"></div>
  <div class="span10 event-description">
    <table class="table table-striped">
      <tr>
        <td><strong>Title/Subject:</strong></td>
        <td><%= @alarm.title %></td>
      </tr>
      <tr>
        <td><strong>Action:</strong></td>
        <td><%= @alarm.action %></td>
      </tr>
      <tr>
        <td><strong>Message:</strong></td>
        <td><%= @alarm.message %></td>
      </tr>
      <tr>
        <td><strong>Recipient Email:</strong></td>
        <td><%= @alarm.email_recipient %></td>
      </tr>
      <tr>
        <th>Used by:</th>
        <td>
          <ul class="unstyled">
            <% @alarm.expected_events.each do |expected_event| %>
              <li><%= link_to expected_event.title, expected_event %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="span1"></div>
</div>

<%= link_to 'Edit', [:edit, @alarm], class: 'btn btn-custom-success'%>
<%= link_to 'Back', alarms_path, class: 'btn btn-custom-back' %>
