<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>

<h1>Incoming Events</h1>

<table class="table table-striped" data-provides="rowlink">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "tracked_at", "Tracked At" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incoming_events.each do |incoming_event| %>
      <tr>
        <td><%= link_to incoming_event.title, incoming_event %></td>
        <td><%= incoming_event.tracked_at %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_incoming_event_path(incoming_event) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, incoming_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incoming event', new_incoming_event_path , class: 'btn btn-custom-success' %>

<div class="pagination pagination-centered">
	<ul>
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
	</ul>
</div>
