<h1>Incoming Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incoming_events.each do |incoming_event| %>
      <tr>
        <td><%= incoming_event.title %></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, incoming_event %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_incoming_event_path(incoming_event) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, incoming_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incoming event', new_incoming_event_path , class: 'btn btn-success' %>

<div class="pagination pagination-centered"> 
	<ul>
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
	</ul>
</div>
