<h1>Incoming Events <i class="icon-mail-forward icon-large"></i></h1>

<div class="input-append">
  <%= form_tag incoming_events_path, method: :get do %>
    <%= text_field_tag 'query[title]', params.fetch(:query, {})[:title], placeholder: "Search for title", class: 'span4' %>
    <%= button_tag 'Search', class: 'btn' %>
  <% end %>
</div>

<table class="table table-striped" data-provides="rowlink">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "created_at", "Created At" %></th>
      <th>Origin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incoming_events.each do |incoming_event| %>
      <tr>
        <td class="title"><%= link_to incoming_event.title, incoming_event %></td>
        <td class="created-at"><%= incoming_event.created_at %></td>
        <td><%= incoming_event.remote_side.try(:name) %></td>
        <td class="nolink glyph"><%= link_to icon_pencil, edit_incoming_event_path(incoming_event) %></td>
        <td class="nolink glyph"><%= link_to icon_trash, incoming_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @incoming_events %>

<%= link_to 'Test it out: create new incoming event', new_incoming_event_path, class: 'pull-right btn btn-link' %>
