<%= form_for(@alarm_trigger) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.label :action %><br>
    <%= f.select :action, [['SMS', 'sms'], ['Email', 'email'], ['Carrier Pidgeon', 'carrierpidgeon'], ['Message in a bottle', 'messageinabottle']] %>  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>