<%= form_for(@alarm_trigger) do |f| %>
<% if @alarm_trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm_trigger.errors.count, "error") %> prohibited this alarm_trigger from being saved:</h2>

      <ul>
      <% @alarm_trigger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= f.label :title %><br>
    <%= select_tag "alarm_triggers", options_for_select(@expected_event_names), id: "simple-example" %>
  </p>
  
  <p>
    <%= f.label :nature %><br>
    <%= f.text_field :nature %>
  </p>

  <p>
    <%= f.label :action %><br>
    <%= f.select :action, [['SMS', 'SMS'], ['Email', 'Email'], ['Carrier Pidgeon', 'Carrier Pidgeon'], ['Message in a Bottle', 'Message in a Bottle']] %>  
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#simple-example').select2();
  });
</script>
