<h1>Alarm Triggers</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Expected Event</th>
      <th>Nature</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alarm_triggers.each do |alarm_trigger| %>
      <tr>
        <td><%= alarm_trigger.title %></td>
        <td>
          <%= alarm_trigger.expected_event.event if alarm_trigger.expected_event %></td>
        </td>
        <td><%= alarm_trigger.nature %></td>
        <td><%= alarm_trigger.action %></td>

        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, alarm_trigger %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_alarm_trigger_path(alarm_trigger) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, alarm_trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm Trigger', new_alarm_trigger_path , class: 'btn btn-success' %>

<div class="pagination pagination-centered"> 
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
  </ul>
</div>