<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @alarm_triggers.title %>
</p>

<p>
  <b>Type:</b>
  <%= @alarm_triggers.type %>
</p>

<p>
  <b>Action:</b>
  <%= @alarm_triggers.action %>
</p>


<%= link_to 'Edit', edit_alarm_triggers_path(@alarm_triggers), class: 'btn btn-warning'%>
<%= link_to 'Back', alarm_triggers_path, class: 'btn btn-primary' %>

<!-- this show file was abandoned on 04.07.2013. It doesn't work, and will be incorporated later! -->

