<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @alarm_trigger.title %>
</p>

<b>Expected Event:</b>
  <%= @alarm_trigger.expected_event.title if @alarm_trigger.expected_event %>
</p>

<p>
  <b>Nature:</b>
  <%= @alarm_trigger.nature %>
</p>

<p>
  <b>Action:</b>
  <%= @alarm_trigger.action %>
</p>


<%= link_to 'Edit', edit_alarm_trigger_path(@alarm_trigger), class: 'btn btn-warning'%>
<%= link_to 'Back', alarm_triggers_path, class: 'btn btn-primary' %>


