<h1>Simulation of events coming in</h1>
<body>
  <p class="lead text-center text-success">
   Events that will eventually come in from the Absolventa apps...
  </p>
</body>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, user %></td>

        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(user) %></td>

        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path , class: 'btn btn-success' %>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
  </ul>
</div>
