<h1>Users <i class="icon-female icon-large"></i></h1>

<table class="table table-striped" data-provides="rowlink">
  <thead>
    <tr>
      <th>User</th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "created_at", "Date created" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="warning">
        <td class="number"><%= user.id %></td>
        <td class="title"><%= link_to user.email, user %></td>
        <td class="created-at"><%= user.created_at %></td>
        <td class="nolink glyph"><%= link_to icon_pencil, edit_user_path(user) %></td>
        <td class="nolink glyph"><%= link_to icon_trash, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<%= link_to 'New User', new_user_path, class: 'btn btn-custom-success' %>
