<h1>Users <i class="icon-female icon-large"></i></h1>

<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "created_at", "Date created" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="warning">
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(user) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-warning' %>

<!-- TODO: Fix the pagination so that there can only be about 10 users listed on a page -->

<div class="pagination pagination-centered"> 
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li class="active"><a href="#">4</a></li>
  </ul>
</div>
</div>