<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
  <% end %>
</div>

<h1>Profile</h1>

<div class="row">
	<div class="span1"></div>
		<div class="span10 event-description">
			<table class="table table-striped">
				<tr>
					<td><strong>Email:</strong></td>
					<td><%= @user.email %></td>
				</tr>
			</table>
		</div>
		<div class="span1"></div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-custom"%>
<%= link_to 'Back', users_path, class: "btn btn-custom" %>
