<%= form_for(@expected_event, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @expected_event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@expected_event.errors.count, "error") %> prohibited this expected_event from being saved:</h2>

      <ul>
      <% @expected_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <h4> Select Expected Event </h4>
    <div class="line-separator"></div>
      <div class="control-group">
          <%= f.label :title, "Watch incoming event with name:", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="control-group">
        <label for="available_incoming_event_titles" class="control-label">Or choose available</label>
        <div class="controls">
        <%= select_tag :available_incoming_event_titles, options_for_select(IncomingEvent.select('DISTINCT title').order('title').map(&:title)), include_blank: true %>
        </div>
      </div>
 


  <h4> Select Weekday(s) </h4>
    <div class="line-separator"></div>
      <div class="row">
        <div class="span3">
          <div class="control-group">
            <%= f.label :weekday_0, "Monday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_0, :id => "inlineCheckbox1" %>
            </div>
          </div>
       
          <div class="control-group">
            <%= f.label :weekday_1, "Tuesday", :class => "control-label" %>
            <div class="controls">
             <%= f.check_box :weekday_1, :id => "inlineCheckbox2" %>
            </div>
          </div>
        </div>

        <div class="span3">
          <div class="control-group">
            <%= f.label :weekday_2, "Wednesday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_2, :id => "inlineCheckbox3" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :weekday_3, "Thursday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_3, :id => "inlineCheckbox4" %>
            </div>
          </div>
        </div>

        <div class="span3">
          <div class="control-group">
            <%= f.label :weekday_4, "Friday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_4, :id => "inlineCheckbox5" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :weekday_5, "Saturday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_5, :id => "inlineCheckbox6" %>
            </div>
          </div>
        </div>

        <div class="span3">
          <div class="control-group">
            <%= f.label :weekday_6, "Sunday", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :weekday_6, :id => "inlineCheckbox7" %>
            </div>
          </div>
        </div>
      </div>

    <h4>Select Matching Direction </h4>
      <div class="line-separator"></div>
        <div class="control-group">
          <%= f.label :matching_direction, "Matching Direction:", :class => "control-label" %>
          <div class="controls">
            <%= f.radio_button :matching_direction, true %> Forward
            <%= f.radio_button :matching_direction, false %> Backward
          </div>
        </div>

 

  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>

<% end %>




<script type="text/javascript">
  $(document).ready(function() {
    // $('#expected_event_title').select2();
    $('#available_incoming_event_titles').change(function() {
      $('#expected_event_title').val($(this).val());
      $('#expected_event_title').focus();
    });
  });
</script>
