<%= form_for(@expected_event) do |f| %>
  <% if @expected_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expected_event.errors.count, "error") %> prohibited this expected_event from being saved:</h2>

      <ul>
      <% @expected_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
