<%= form_for(@expected_event, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @expected_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expected_event.errors.count, "error") %> prohibited this expected_event from being saved:</h2>

      <ul>
      <% @expected_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
    <%= f.select :title, IncomingEvent.select('DISTINCT title').order('title').map(&:title) %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#expected_event_title').select2();
  });
</script>
