<%= form_for(@expected_event, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @expected_event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@expected_event.errors.count, "error") %> prohibited this expected_event from being saved:</h2>

      <ul>
      <% @expected_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Select Expected Event</h4>
    <div class="line-separator"></div>
    <div class="control-group">
        <%= f.label :title, "Watch incoming event with name:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>

    <h5>OR</h5>

    <div class="control-group">
      <label for="available_incoming_event_titles" class="control-label">Choose available</label>
      <div class="controls">
      <%= select_tag :available_incoming_event_titles, options_for_select(IncomingEvent.select('DISTINCT title').order('title').map(&:title)), include_blank: true %>
      </div>
    </div>

  <h4>Select Weekday(s)</h4>
    <div class="line-separator"></div>
    <div class="row">
      <div class="span3">
        <% 0.upto(3).each do |n| %>
          <div class="control-group">
            <%= f.label "weekday_#{n}", Date::DAYNAMES[n], :class => "control-label" %>
            <div class="controls">
              <%= f.check_box "weekday_#{n}" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <% 4.upto(6).each do |n| %>
          <div class="control-group">
            <%= f.label "weekday_#{n}", Date::DAYNAMES[n], :class => "control-label" %>
            <div class="controls">
              <%= f.check_box "weekday_#{n}" %>
            </div>
          </div>
        <% end %>
        <div class="control-group span6">
          <em>(If no weekdays are checked, the event will be considered inactive)</em>
        </div>

      </div>

      <div class="span6 explanation">
      </div>
    </div>

  <h4>Select Notification</h4>
    <div class="line-separator"></div>
    <div class="row">
      <div class="span1"></div>
      <div class="span5">
        <div class="control-group">
          <%= f.radio_button :matching_direction, true %> Please send an alarm when event is found

        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.radio_button :matching_direction, false %> Please send an alarm when event is <strong>not</strong> found
        </div>
      </div>
    </div>

  <h4>Select Dates</h4>
    <div class="line-separator"></div>
    <div class="control-group">
      <%= f.label "Start Date", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :started_at %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label "End Date", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :ended_at %>
      </div>
    </div>

  <h4>Final Hour</h4>
    <div class="line-separator"></div>
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <%= f.label :final_hour, :class => "control-label" %>
          <div class="controls">
            <%= f.select :final_hour, (1..24) %>
          </div>
        </div>
      </div>
      <div class="span6 explanation">
        <div class="control-group">
          <em>(Denotes the latest possible hour the event is expected. Only required for backward matching events.)</em>
        </div>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-custom-success" %>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#available_incoming_event_titles').change(function() {
      $('#expected_event_title').val($(this).val());
      $('#expected_event_title').focus();
    });
  });
</script>

