<%= form_for(@expected_event, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @expected_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expected_event.errors.count, "error") %> prohibited this expected_event from being saved:</h2>

      <ul>
      <% @expected_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
      <%= f.label :title, "Watch incoming event with name:", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <label for="available_incoming_event_titles" class="control-label">Or choose available</label>
    <div class="controls">
    <%= select_tag :available_incoming_event_titles, options_for_select(IncomingEvent.select('DISTINCT title').order('title').map(&:title)), include_blank: true %>
    </div>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_0, "Monday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_0, :id => "inlineCheckbox1" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_1, "Tuesday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_1, :id => "inlineCheckbox2" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_2, "Wednesday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_2, :id => "inlineCheckbox3" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_3, "Thursday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_3, :id => "inlineCheckbox4" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_4, "Friday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_4, :id => "inlineCheckbox5" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_5, "Saturday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_5, :id => "inlineCheckbox6" %>
  </div>

  <div class="checkbox inline">
    <%= f.label :weekday_6, "Sunday", :class => "checkbox inline" %>
    <%= f.check_box :weekday_6, :id => "inlineCheckbox7" %>
  </div>


  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    // $('#expected_event_title').select2();
    $('#available_incoming_event_titles').change(function() {
      $('#expected_event_title').val($(this).val());
      $('#expected_event_title').focus();
    });
  });
</script>
