<h1>Expected Events <i class="icon-calendar-empty icon-large"></i></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th>Incoming Event</th>
      <th>Alarms</th>
      <th>Weekdays</th>
      <th><%= sortable "matching_direction", "Matching Direction" %></th>
      <th>Activity</th>
      <th>Final Hour</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expected_events.each do |expected_event| %>
      <tr class ="success">
        <td class ='extitle'><%= expected_event.title %></td>
        <td class ='count'><%= expected_event.incoming_events.count if expected_event.incoming_events %></td>
        <td class ='alarms'><%= link_to "(#{expected_event.alarms.count})", expected_event_alarms_path(expected_event) %></td>
        <td class ='weekday'><%= expected_event.selected_weekdays %></td>
        <td class ='direction'><%= expected_event.event_matching_direction %></td>
        <td class ='active'><%= expected_event.activity_status.titleize %></td>
        <td class ='final_hour'><%= expected_event.final_hour %></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, expected_event %></td>
        <td><%= link_to icon_pencil, edit_expected_event_path(expected_event) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, expected_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expected event', new_expected_event_path , class: 'btn btn-success' %>

<div class="pagination pagination-centered"> 
	<ul>
		<li class="disabled"><a href="#">&laquo;</a></li>
		<li class="active"><a href="#">1</a></li>
	</ul>
</div>

