<h1>Expected Events <i class="icon-calendar icon-large"></i></h1>

<%= render 'shared/search_by_title' %>

<p><%= link_to 'New event expectation', new_expected_event_path , class: 'btn btn-custom-success' %></p>

<table class="table table-striped" data-provides="rowlink">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable 'final_hour', 'Hour' %></th>
      <th>Remote</th>
      <th>Last&nbsp;Alarm</th>
      <th><%= sortable "matching_direction", "Notify when" %></th>
      <th>Activity</th>
      <th><%= sortable 'created_at', 'Created' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expected_events.each do |expected_event| %>
      <tr class ="success">
        <td class="title">
          <tt><%= link_to expected_event.title, expected_event %></tt><br>
          <small>Weekdays: <%= selected_weekdays(expected_event) %></small>
        </td>
        <td class="final-hour"><%= expected_event.final_hour if expected_event.matching_direction == 'backward' %></td>
        <td class="nolink"><%= expected_event.remote_side.try(:name) %></td>
        <td><%= l expected_event.last_alarm_at, format: :short if expected_event.last_alarm_at %></td>
        <td class="notification"><%= expected_event.event_matching_direction.gsub('when ', '') %></td>
        <td class="activity"><%= expected_event.activity_status.titleize %></td>
        <td class="activity"><%= l expected_event.created_at, format: :short %></td>
        <td class="nolink glyph"><%= link_to icon_pencil, edit_expected_event_path(expected_event) %></td>
        <td class="nolink glyph"><%= link_to icon_trash, expected_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @expected_events %>
