<div class="row">
  <div class="span1"></div>
    <div class="span10 event-description">

      <table class="table table-striped">
        <% if @expected_event.active? %>
        <tr class="success activity-status">
          <td><strong>This event is <%= @expected_event.activity_status.titleize %></strong></td>
        </tr>
        <% else %>
        <tr class="error activity-status">
          <td><strong>This event is <%= @expected_event.activity_status.titleize %></strong></td>
        </tr>
        <% end %>
      </table>

      <table class="table table-striped">
        <tr>
          <td><strong>Title:</strong></td>
          <td><%= @expected_event.title %></td>
        </tr>
        <tr>
          <td><strong>Incoming Event:</strong></td>
          <td><%= @expected_event.incoming_events.count if @expected_event.incoming_events %></td>
        </tr>
        <tr>
          <td><strong>Selected Weekday(s):</strong></td>
          <td><%= selected_weekdays(@expected_event) %></td>
        </tr>
        <tr>
          <td><strong>Notification:</strong></td>
          <td><% if @expected_event.matching_direction%>
                alarm sent when found
              <% end %>
              <% if @expected_event.matching_direction == false %>
                alarm sent when <strong>not</strong> found
              <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>Started at (YY-MM-DD):</strong></td>
          <td><%= @expected_event.started_at %></td>
        </tr>
        <tr>
          <td><strong>Ended at (YY-MM-DD):</strong></td>
          <td><%= @expected_event.ended_at %></td>
        </tr>
        <tr>
          <td><strong>Final Hour:</strong></td>
          <td><%= @expected_event.final_hour%></td>
        </tr>
        </table>

        <table class="table">
          <td><%= link_to "This event has #{@expected_event.alarms.count} Alarms", expected_event_alarms_path(@expected_event), class: "btn btn-block btn-custom-show"%></td>
        </table>

    </div>
  <div class="span1"></div>
</div>

<%= link_to 'Edit', edit_expected_event_path(@expected_event), class: 'btn btn-custom-success' %>
<%= link_to 'Back', expected_events_path, class: "btn btn-custom-back" %>
