%h1
  Remote Side

%table.table.table-striped{"data-provides" => "rowlink"}
  %thead
    %tr
      %th= sortable "name"
      %th API Token
      %th
      %th

  %tbody
    - @remote_sides.each do |remote_side|
      %tr
        %td.title= link_to remote_side.name, remote_side
        %td.title= remote_side.api_token
        %td.nolink.glyph= link_to icon_pencil, edit_remote_side_path(remote_side)
        %td.nolink.glyph= link_to icon_trash, remote_side, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate @remote_sides

= link_to 'New Remote Side', new_remote_side_path(@remote_side) , class: 'btn btn-custom-success'
= link_to 'Back', remote_sides_path , class: 'btn btn-custom-back'