<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Event Girl", welcome_pages_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            <li><%= link_to "Incoming Events", incoming_events_path %></li>
            <li><%= link_to "Expected Events", expected_events_path %></li>
            <li><%= link_to "Alarms", alarms_path %></li>
            <li id='fat-menu' class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Account<b class="caret"></b></a>
              <ul class='dropdown-menu'>
                <li><%= link_to "Remote Side Application", remote_sides_path %></li>
                <li><%= link_to "Users", users_path if current_user.admin? %></li>
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li class='divider'></li>
                <li><%= link_to "Log Out", logout_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
