%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to "Ereignishorizont", welcome_pages_path, id: "logo"
        %nav
          %ul.nav
            - if current_user
              %li{class: controller_name == 'incoming_events' ? 'active' : nil}
                = link_to "Incoming Events", incoming_events_path
              %li{class: controller_name == 'expected_events' ? 'active' : nil}
                = link_to "Expected Events", expected_events_path
              %li{class: controller_name == 'alarms' ? 'active' : nil}
                = link_to "Alarms", alarms_path
              %li.dropdown{class: ['users', 'remote_sides'].include?(controller_name) ? 'active' : nil}
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Remote Side Application", remote_sides_path
                  %li= link_to "Users", users_path if current_user.admin?
                  %li= link_to "Profile", user_path(current_user)
                  %li.divider
                  %li= link_to "Log Out", logout_path