<!DOCTYPE html>
<html>
  <head>
    <title>Event Girl</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Event Girl", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Registered Event",    '/registered_events' %></li>
              <li><%= link_to "Alarm Trigger", '#' %></li>
              <li><%= link_to "Sign In", '#' %></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
