<!DOCTYPE html>

<html>
  <head>
    <title>Ereignishorizont</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <span id="forkongithub"><a href="https://github.com/Absolventa/ereignishorizont" target="_blank">Fork me on GitHub</a></span>
    <div id="wrap">
      <%= render 'layouts/nav' %>
      <div class="container">
        <% if current_user %>
          <p class="text-right">Logged in as <%= current_user.email %></p>
        <% end %>
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg  %>
          </div>
        <% end %>
        <div id="push"></div>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
      <%=yield :js%>
  </body>
</html>
