<!DOCTYPE html>

<html>
  <head>
    <title>Event Girl</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

    <%= render 'layouts/nav' %>
    
      <div class="container">
        
        <% if current_user %>
          Logged in as <%= current_user.email %>
        <% end %> 

        <%= yield %>

          <%= render 'layouts/footer' %>
          
      </div>

    <%=yield :js%>

     <br> 

  
  </body>
</html>
